.crearCuentaContainer {
  width: 450px;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 1px #d3d3d3;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  .titleCrearCuenta {
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 0;
    font-size: xx-large;
  }

  .registrarse {
    text-align: center;
    font-size: 13px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .campo {
    padding: 0.5rem 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      margin-bottom: 0.3rem;
    }

    .logo {
      position: absolute;
      bottom: 24%;
      fill: #757575;
      padding-left: 0.4rem;
    }

    .input {
      height: 2.2rem;
      border-radius: 6px;
      border: 1px solid #999;
      padding-left: 1.8rem;
    }
  }

  .invisible {
    margin-top: 2rem;
  }

  .btnCrearCuenta {
    width: 200px;
    margin: 0 auto;
    height: 2rem;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    transform: skew(-21deg);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 550px) {
  .crearCuentaContainer {
    width: 400px;

    .titleCrearCuenta {
      margin-bottom: 0.2rem;
    }
  }
}

@media screen and (max-width: 490px) { 
  .crearCuentaContainer {
    width: 85%;
  }
}