footer {
  margin-top: 4rem;
  padding-top: 0.8rem;
  background-color: #030104ed;
  color: white;

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  .containerFooter {
    width: 690px;
    .titleFooter {
      font-size: 1.6rem;
    }
    .texto {
      font-size: 13px;
      width: 60%;
      color: #ffffffbd;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0.5rem 0;
      .redes {
        margin-right: 2rem;
        cursor: pointer;
      }
    }
  }

  .enlaces {
    display: flex;
    flex-direction: column;
    .enlacesTitle {
      font-size: 1.6rem;
    }

    .containerEnlaces {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      color: white;
      margin: 0.5rem 0;
      width: max-content;
      &:hover {
        color: #ffffffbd;
      }
    }
  }

  .contactanos {
    .contactanosTitle {
      font-size: 1.6rem;
    }

    .infoContacto {
      margin: 0.5rem 0;
    }
  }

  .suscribite {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .suscribiteTitle {
      font-size: 1.6rem;
    }

    .pSuscrib {
      color: #ffffffbd;
      font-size: 13px;
      margin-bottom: 0.5rem;
    }

    input {
      height: 2.2rem;
      border-radius: 6px;
      border: 1px solid #999;
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      width: 55%;
    }

    .btnSusc {
      width: 55%;
      height: 2rem;
      background-color: rgb(255, 255, 255);
      border: none;
      color: rgb(0, 0, 0);
      font-weight: 600;
      transform: skew(-21deg);
      cursor: pointer;
      margin-top: 0.5rem;
      transition: all 0.3s ease;
    }
  }

  .lineaFooter {
    border: none;
    height: 1px;
    box-shadow: 0px 1px 1px 0px #9f9f9f;
  }

  .pFinal {
    text-align: center;
    padding: 2rem 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 1250px) {
  footer {
    .footer {
      width: 1045px;
    }
    .suscribite input {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1095px) {
  footer {
    .footer {
      width: 100%;
      padding: 0;
    }

    .containerFooter {
      width: 550px;
      margin-left: 1.5rem;
      padding-left: 1.9rem;
    }
  }

  .contactanos {
    margin-left: 1.5rem;
    padding-left: 1.9rem;
  }
}

@media screen and (max-width: 980px) {
  footer {
    .containerFooter {
      width: 470px;
      padding-left: 0.5rem;

      .texto {
        width: 82%;
      }
    }
  }
  .contactanos {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  footer {
    .containerFooter {
      width: 408px;
    }
    .suscribite {
      .pSuscrib {
        width: 77%;
      }

      input {
        width: 71%;
      }
    }
  }
}

@media screen and (max-width: 735px) {
  footer {
    .footer {
      grid-template-columns: 1fr;
    }

    .containerFooter {
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;

      .textoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        .texto {
          width: 75%;
        }
      }

      ul {
        justify-content: center;
      }
    }

    .enlaces {
      .enlacesTitle {
        text-align: center;
      }

      .containerEnlaces {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.2rem;
      }
    }
    .contactanos {
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .suscribite {
      text-align: center;

      .pSuscrib {
        width: 100%;
      }
    }
  }
}
