.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  height: 6rem;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
}

.oculto {
  height: 6rem;
}

@media screen and (max-width: 980px) {
  .nav {
    .logo {
      padding-left: 2rem;
    }

    .ulNav .liNav {
      margin: 0 1.5rem;
    }
    button {
      right: 3%;
    }
  }
}
