.ulInputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  list-style: none;

  .li {
    display: flex;
    flex-direction: column;

    .label {
      color: #757575;
      padding: 0.5rem 0;
    }

    .input {
      height: 2.2rem;
      border-radius: 6px;
      border: 1px solid #999;
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      width: 90%;
      padding-right: 1rem;
    }
  }
}

@media screen and (max-width: 1220px) {
  .ulInputs {
    grid-template-columns: 1fr 1fr;

    .li {
      align-items: center;

      .input {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .ulInputs .li .input {
    width: 80%;
  }
}
