.titleAgregar {
  margin: 2.5rem 0 0 0;
}

.textoAgregar {
  padding-left: 1rem;
  font-size: 14px;
  color: #606060;
  text-align: center;
  margin-bottom: 2.5rem;
}

.agregarPropiedad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .btnSubirPropiedad {
    width: 12rem;
    height: 2rem;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    transform: skew(-21deg);
    cursor: pointer;
    margin: 1.5rem 0 2rem 0;
    transition: all 0.3s ease;
  }
}

.subirLasImg {
  display: flex;
  align-items: center;
  margin: -2.5rem 0 0 2.6rem;
}

.ulImg {
  margin-top: 2rem;
  .ulNameImg {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1220px) {
  .agregarPropiedad {
    width: 100%;
  }
  .subirLasImg {
    margin: 2.5rem 0 0 2.6rem;
  }
}

@media screen and (max-width: 660px) {
  .containerDiv {
    display: flex;
    width: 81%;
    align-items: center;
    justify-content: space-around;
  }
}
