@media screen and (min-width: 861px) {
  .movilNav {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .movilNav {
    display: block;

    .logo {
      display: block;
      margin: 0;
      margin-bottom: 1rem;
      padding-left: 2rem;
      .nombre {
        font-size: 2rem;
        position: absolute;

        .span {
          position: absolute;
          top: 63%;
          left: 42%;
        }
      }
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      padding-top: 0.5rem;
      position: relative;
      .cerrado {
        display: none;
      }

      .menuSvg {
        z-index: 99;
      }

      .abierto {
        display: block;
        position: absolute;
        height: 100vh;
        width: 250px;
        background: #fafafa;
        backdrop-filter: blur(6px);
        right: -5%;
        top: -16px;
        box-shadow: -1px 0px 7px -3px #9f9f9f;
        cursor: auto;
        .ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          margin-top: 5rem;
          padding-left: 0.5rem;
          width: 60%;

          .liNav {
            margin-bottom: 1rem;

            .enlaces {
              color: rgb(95 79 79);
              text-decoration: none;
              font-weight: 500;
              position: relative;

              &:hover {
                color: black;
                transition: color 0.2s;
                font-weight: 600;
              }

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 1px;
                background-color: black;
                transition: width 0.2s ease-out;
              }

              &:hover::after {
                width: 100%;
              }
            }
          }
        }

        button {
          position: absolute;
          right: 20%;
          top: 33%;
          background: transparent;
          border: none;
          padding: 10px 20px;
          display: inline-block;
          font-weight: 600;
          width: 150px;
          cursor: pointer;
          transform: skew(-21deg);
        }

        .btnSesion {
          display: inline-block;
          transform: skew(21deg);
        }

        button::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          left: 0;
          background: rgb(20, 20, 20);
          opacity: 0;
          z-index: -1;
          transition: all 0.5s;
        }

        button:hover {
          color: #fff;
        }

        button:hover::before {
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .movilNav {
    .logo {
      padding-left: 0.7rem;
    }

    .menu {
      margin-right: 0.7rem;
    }
  }
}
