.titlePropiedades {
  text-align: center;
  margin-top: 1rem;
}

.cantidadProp {
  font-size: 0.9rem;
  color: #8b8b8b;
  font-weight: 600;
  padding-left: 2rem;
}
.containerCard {
  display: grid;
  row-gap: 4.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
}
