.titleServ {
  text-align: center;
  margin: 1.5rem 0 0 0;
}

.infoServ {
  text-align: center;
  margin-bottom: 1.3rem;
  color: #606060;
  font-size: 13px;
  font-weight: 600;
}

.containerServ {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;

  .servicio {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 1px #d3d3d3;
    border-radius: 8px;
    width: 375px;
    height: 235px;
    position: relative;
    transition: all 0.3s;

    .logoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      .logoServ {
        margin-top: 1.2rem;
        fill: #606060;
      }
    }

    h3 {
      text-align: center;
      margin-top: 0.5rem;
    }

    .parrafo {
      text-align: center;
      font-size: 14px;
      color: #606060;
      padding: 0 2rem;
    }

    ul {
      margin: 0.5rem 0 0 0.5rem;
      li {
        list-style-type: none;
        margin-bottom: 0.5rem;
        color: #606060;
        font-size: 13px;
      }
    }

    &:hover {
      box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.2);
      .parrafo,
      ul li {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .containerServ {
    grid-template-columns: 1fr 1fr;

    .servicio {
      width: 460px;
    }
  }
}

@media screen and (max-width: 980px) {
  .containerServ .servicio {
    width: 390px;
  }
}
@media screen and (max-width: 820px) {
  .containerServ {
    grid-template-columns: 1fr;

    .servicio {
      width: 80%;
    }
  }
}
@media screen and (max-width: 550px) {
  .containerServ .servicio {
    width: 95%;
  }
}

@media screen and (max-width: 490px) {
  .containerServ .servicio {
    width: 89%;
  }
}
